@model ProductViewModel

@{
    var popularClass = Model.Products.Count > 2 ? "popular" : "";
    var products = Model.Products;
}
@section MessageBox
    {
    <div class="alert alert-warning text-center m-0">
        You have a message!
    </div>
}

@section Header
{
    <partial name="_header">
}

@if (products.Count == 0)
{
    @await Html.PartialAsync("_noproduct")
}
else
{
    <div class="row">
        @foreach (var product in products)
        {
            <div class="col-md-3">
                @await Html.PartialAsync("_product", product)
            </div>
        }
    </div>
}