
<form method="get">
    <div class="form-grup">
        <label for="name">Name</label>
        <input type="text" name="Name" class="form-control">
    </div>

    <div class="form-grup">
        <label for="Price">Price</label>
        <input type="text" name="Price" class="form-control">
    </div>

    <div class="form-grup">
        <label for="Description">Description</label>
        <textarea type="text" name="Description" class="form-control"></textarea>
    </div>

    <div class="form-grup">
        <label for="ImageUrl">ImageUrl</label>
        <input type="text" name="ImageUrl" class="form-control">
    </div>

    <div class="form-grup">
        <label for="CategoryId">CategoryId</label>
        <input type="text" name="CategoryId" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>